/* Add screen styles below */
header {
    margin: 0 auto;
    width: 50%;
    display: block;
    padding: 20px
}

h1 {
    font-family: Helvetica, sans-serif;
}

img {
    width: 500px;
    height: 500px;
    padding-bottom: 20px;
}

main {
    margin: 0 auto;
    width: 50%;
    display: block;
}