/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #fffefe;
}

header {
    margin: 0 auto;
    width: 50%;
    display: block;
    padding: 20px
}

h1 {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #453f39;
    font-size: 2em;
}

img {
    width: 500px;
    height: 500px;
    padding-bottom: 20px;
}

main {
    margin: 0 auto;
    width: 50%;
    display: block;
}